<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fo-dicom.Core" version="2.0.1" targetFramework="net45" />
  <package id="fo-dicom.Platform" version="2.0.1" targetFramework="net45" />
  <package id="fo-dicom.Serilog" version="2.0.1" targetFramework="net45" />
  <package id="Serilog" version="2.0.0-rc-563" targetFramework="net45" />
  <package id="Serilog.Enrichers.Environment" version="2.0.0-rc-708" targetFramework="net45" />
  <package id="Serilog.Sinks.File" version="2.0.0-rc-706" targetFramework="net45" />
  <package id="Serilog.Sinks.Literate" version="2.0.0-rc-25" targetFramework="net45" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.0.0-rc-707" targetFramework="net45" />
  <package id="Serilog.Sinks.RollingFile" version="2.0.0-rc-703" targetFramework="net45" />
  <package id="Serilog.Sinks.Seq" version="2.0.0-rc-46" targetFramework="net45" />
</packages>